<div class="row">

  <!-- Left column -->
  <div class="col-md-6">

    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat-start="endpoint in balance">
          <h3 class="panel-title">{{ endpoint.endpoint.name }} [<a href="#/send/{{ endpoint.endpoint.id }}">Send</a>] [<a href="#/createasset/{{ endpoint.endpoint.id }}">Create Asset</a>]</h3>
        </li>

        <li class="list-group-item" ng-repeat="asset in endpoint.assets" ng-repeat-end>
          <div>{{ asset.balance }} {{ asset.asset }}</div>
        </li>

      </ul>
    </div>

  </div>

  <!-- Right column -->
  <div class="col-md-6">
    <div class="alert alert-success">
      {{ rootAccount }}
    </div>
  </div>

</div>