<div ng-switch on="display">
  <!-- Home Screen -->
  <div ng-switch-when="home" class="row">

    <!-- Left column -->
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="list-group">
          
          <div class="list-group-item section-header" ng-repeat-start="endpoint in balance">
            <h3 class="panel-title">{{ endpoint.endpoint.properties.name }}</h3>
          </div>

          <div class="list-group-item list-message" ng-show="endpoint.state == 'loading'">
            <i class="fa fa-spinner fa-pulse fa-lg"></i> Loading...
          </div>

          <div class="list-group-item list-message" ng-show="endpoint.state == 'error'">
            <i class="fa fa-warning fa-lg"></i> Connection error
          </div>

          <!-- Asset Items -->
          <a asset-item href="" class="list-group-item clearfix" ng-click="sendAsset(asset)" ng-repeat="asset in endpoint.assets" ng-show="endpoint.state == 'loaded'" ng-repeat-end>
          </a>

        </div>
      </div>

    </div>

    <!-- Right column -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Receive funds</h3>
        </div>
        <div class="panel-body">
          <div class="panel-split">
            <div class="split-left">
              <span class="thumbnail qr-code">
                <img ng-src="https://testnet.coinprism.com/qr/{{ rawAddress }}" />
              </span>
            </div>
            <div class="split-right">
              <h4>{{ rawAddress }}</h4>
              <p class="small note text-muted">Path: {{ rootAccount }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Send Screen -->
  <div ng-switch-when="send" class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="form-horizontal" name="sendForm" ng-submit="confirmSend(sendTo, sendAmount)">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Send Funds</h3>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <label for="ledger" class="col-sm-3 control-label">Ledger</label>
              <div class="col-sm-9">
                <h4 class="form-control-static" id="ledger">{{ asset.endpoint.properties.name }}</h4>
                <p class="form-control-static text-muted">{{ asset.endpoint.rootUrl }}</p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Sending Asset</label>
              <div class="col-sm-9">
                <!-- Asset item -->
                <div class="list-group-item clearfix" asset-item>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="from-address" class="col-sm-3 control-label">From</label>
              <div class="col-sm-9">
                <h4 class="form-control-static" id="from-address">{{ rootAccount }}</h4>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': sendForm.destination.$invalid && sendForm.destination.$dirty}">
              <label for="destination" class="col-sm-3 control-label">
                To
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="destination" id="destination" placeholder="Destination" ng-model="sendTo" required>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': sendForm.amount.$invalid && sendForm.amount.$dirty}">
              <label for="amount" class="col-sm-3 control-label">Amount</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="amount" id="amount" placeholder="Amount" ng-change="validateAmount(sendAmount, sendForm.amount)" ng-model="sendAmount" required>
              </div>
            </div>

          </div>
          <div class="panel-footer text-right">

            <div class="row">
              <div ng-switch on="sendStatus">
                <div class="col-md-12" ng-switch-when="send-active">
                  <button type="button" class="btn btn-default" ng-click="cancelSend()">Cancel</button>
                  <button type="submit" class="btn btn-primary" ng-disabled="sendForm.$invalid">Send</button>
                </div>
                <div class="col-md-12" ng-switch-when="send-wait">
                  Please wait...
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
