<div class="row">

  <!-- Left column -->
  <div class="col-md-6">

    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat-start="endpoint in balance">
          <h3 class="panel-title">{{ endpoint.endpoint.properties.name }} [<a href="#/send/{{ endpoint.endpoint.properties.id }}">Send</a>] [<a href="#/createasset/{{ endpoint.endpoint.properties.id }}">Create Asset</a>]</h3>
        </li>

        <!-- Asset item -->
        <li class="list-group-item clearfix" ng-repeat="asset in endpoint.assets" ng-repeat-end>
          <a href="#" class="currency-icon thumbnail color-popover">
            <img ng-src="{{ asset.assetDefinition.icon_url }}" />
          </a>

          <div class="details-right">
            <h4 class="list-group-item-heading">{{ asset.balance }} {{ asset.assetDefinition.name_short }}</h4>
          </div>

          <div class="details-left">
            <h4 class="list-group-item-heading">{{ asset.assetDefinition.name }}</h4>
            <p class="list-group-item-text text-muted"><i class="fa fa-edit"></i> Asset path: {{ asset.asset }}</p>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <!-- Right column -->
  <div class="col-md-6">
    <div class="alert alert-success">
      {{ rootAccount }}
    </div>
  </div>

</div>