<div ng-show="mode == 'form'">

  <div>Ledger: {{ endpoint.name }}</div>

  From account:
  <input type="text" ng-model="fromAccount">

  To account:
  <input type="text" ng-model="toAccount">

  Asset:
  <input type="text" ng-model="asset">

  Amount:
  <input type="text" ng-model="amount">

  <button type="button" ng-click="send()">Submit</button>
</div>

<div ng-show="mode == 'spinner'">
  Please wait...
</div>

<div ng-show="mode == 'confirm'">
  <div>Sending {{amount}} units of asset {{asset}}</div>
  <div>Current balance on {{fromAccount}}: {{fromBalance.toString()}}</div>
  <div>Current balance on {{toAccount}}: {{toBalance.toString()}}</div>
  
  Confirm?
  <button type="button" ng-click="confirm()">Submit</button>
</div>

<div ng-show="mode == 'confirmed'">
  Confirmed, ledger record: {{ledgerRecordId}}
</div>