<div ng-switch on="display">
  <!-- Sending transaction -->
  <div ng-switch-when="pending" class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Submitting transaction</h3>
        </div>
        <div class="panel-body">
          <div class="body-header">
            <i class="fa fa-cog fa-spin fa-3x pull-left"></i>
            <p>We are submitting the transaction for confirmation. Please wait...</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Error message -->
  <div ng-switch-when="error" class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Error</h3>
        </div>
        <div class="panel-body">
          <div class="body-header">
            <i class="fa fa-exclamation fa-3x pull-left fa-border"></i>
            <p>The transaction could not be confirmed.</p>
            <p ng-switch on="error">
              <span ng-switch-when="InvalidPath">A path was invalid.</span>
              <span ng-switch-when="CannotSpendFromAccount">You are not authorized to spend from this account.</span>
              <span ng-switch-when="CannotIssueAsset">You have insufficient funds.</span>
              <span ng-switch-when="CannotModifyData">You are not authorized to modify this data record.</span>
              <span ng-switch-when="InvalidNamespace">The namespace used in the transaction is invalid.</span>
              <span ng-switch-when="OptimisticConcurrency">The account has been modified, please retry.</span>
              <span ng-switch-when="InvalidSignature">A digital signature was invalid.</span>
              <span ng-switch-when="NonCanonicalSerialization">The transaction was malformed.</span>
              <span ng-switch-when="InvalidRecord">You attempted to create or modify a type of record which is unknown by the validator.</span>
              <span ng-switch-when="AccountModificationUnauthorized">You are not allowed to send to this account.</span>
              <span ng-switch-when="AccountCreationUnauthorized">This account has not been authorized to receive payments.</span>
              <span ng-switch-when="UnbalancedTransaction">The transaction is unbalanced.</span>
              <span ng-switch-when="Disabled">The server you are connected to does not validate transactions.</span>
              <span ng-switch-when="ValidationDisabled">The server you are connected to does not validate transactions.</span>
              <span ng-switch-when="Unknown">An unknown error occured.</span>
              <span ng-switch-when="ConnectionError">Could not connect to the server.</span>
            </p>
          </div>

        </div>
        <div class="panel-footer text-right">
          <button type="button" class="btn btn-default" ng-click="cancelSend()">Back</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Success message -->
  <div ng-switch-when="success" class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Success</h3>
        </div>
        <div class="panel-body">
          <div class="body-header">
            <i class="fa fa-check fa-3x pull-left fa-border"></i>
            <p>The transaction has been successfully submitted. Transaction ID:</p>
            <pre>{{ transactionHash }}</pre>
          </div>

        </div>
        <div class="panel-footer text-right">
          <a href="#/transaction/{{ mutationHash }}" class="btn btn-default">View transaction</a>
          <button type="button" class="btn btn-default" ng-click="cancelSend()">Ok</button>
        </div>
      </div>
    </div>
  </div>

</div>
